## Title

## Introduction

- Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
- Clearly state the question you will try to answer with your project
- Identify and describe the dataset that will be used to answer the question

## Preliminary exploratory data analysis
- Demonstrate that the dataset can be read from the web into R 
- Clean and wrangle your data into a tidy format
- **Using only training data**, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
- **Using only training data**, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [24]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

variable_names <- c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num")
cleve_data <- read.table("data/processed.cleveland.data", header=TRUE, sep = ",", col.names = variable_names)
cleve_data

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1   67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0
2   67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0
3   37  1   3  130      250  0   0       187     0     3.5     3     0.0 3.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
300 57  1   4  130      131  0   0       115     1     1.2     2     1.0 7.0
301 57  0   2  130      236  0   2       174     0     0.0     2     1.0 3.0
302 38  1   3  138      175  0   0       173     0     0.0     1     ?   3.0
    num
1   2
2   1
3   0
⋮   ⋮
300 3
301 1
302 0

In [25]:
set.seed(1)

cleve_split <- initial_split(cleve_data, prop=0.75, strata=num)
cleve_train <- training(cleve_split)
cleve_test <- testing(cleve_split)

cleve_train
cleve_test

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1   37  1   3  130      250  0   0       187     0     3.5     3     0.0 3.0
2   56  1   2  120      236  0   0       178     0     0.8     1     0.0 3.0
3   44  1   2  120      263  0   0       173     0     0.0     1     0.0 7.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
223 55  0   4  128      205  0   1       130     1     2.0     2     1.0 7.0
224 59  1   4  164      176  1   2        90     0     1.0     2     2.0 6.0
225 57  1   4  130      131  0   0       115     1     1.2     2     1.0 7.0
    num
1   0
2   0
3   0
⋮   ⋮
223 3
224 3
225 3

   age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1  41  0   2  130      204  0   2       172     0     1.4     1     0.0 3.0
2  57  0   4  120      354  0   0       163     1     0.6     1     0.0 3.0
3  57  1   4  140      192  0   0       148     0     0.4     2     0.0 6.0
⋮  ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
75 58  1   4  114      318  0   1       140     0     4.4     3     3.0 6.0
76 68  1   4  144      193  1   0       141     0     3.4     2     2.0 7.0
77 57  0   2  130      236  0   2       174     0     0.0     2     1.0 3.0
   num
1  0
2  0
3  0
⋮  ⋮
75 4
76 2
77 1

## Methods
- Explain how you will conduct either your data analysis and which variables/columns you will use. <ins>Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?</ins>
- Describe at least one way that you will visualize the results

## Expected outcomes and significance
- What do you expect to find?
- What impact could such findings have?
- What future questions could this lead to?